#body{



}

#main{

background-color: #E3E3E3;
width: 80%;
margin: auto;
padding: 10px;
border-radius: 10px;
font-family: "Georgia", Times, serif;


}

#message{

border-width: 1px;
border-color: black;
border-style: solid;
width: 80%;
margin: auto;
margin-top: 60px;


}

#mission{
border-width: 1px;
border-color: black;
border-style: solid;
width: 80%;
margin: auto;
margin-top: 60px;
padding: 10px;

}


#donate{

padding: 40px;



}

#infoBox{

background-color: #F2F2F0;
padding: 2%;
margin: 2%;
width: 25%;
float: left;
border-radius: 10px;

}

#insideInfoBox{
border-width: 1px;
border-color: black;
border-style: solid;
width: 80%;
margin: auto;
margin-top: 20px;
padding: 10px;


}

#profile{

padding:20px;
border-style: solid;
border-width: 1px;
margin: 10px;

}

#riskCategory{

float: right;

}

#container{


margin: 10px 10px auto;
height: 600px;


}

#footer{


}

a:link {
color: #757573;
}
